.modal-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0;
    background: rgba(0, 0, 0, .75);
    border: 0;
    z-index: 10;
}

.loader-container {
    margin: 4em auto 1em auto;
    z-index: 1;

    span {
        color: var(--scdclr4);
        font-size: 1.5em;
    }

    .image-container {
        width: 180px;

        &:nth-child(2) {
            z-index: 1;
        }

        &:nth-child(3) {
            margin-block-start: -2.5em;

            img {
                border-radius: 0 0 2em 2em;
            }
        }

        img {
            background: none;
        }
    }
}

.error-container {
    gap: 2em;
    margin: 4em auto 0 auto;

    .error-area {
        gap: 1em;
        font-size: 1.5em;

        .image-container {
            max-width: 120px;
        }

        span {
            max-width: 300px;
        }
    }

    a {
        padding: 1em 1.5em;
        background: var(--scdclr2);
        color: var(--scdclr3);
        letter-spacing: 0.75px;
        border-radius: 0.5em;
        margin: 0 auto;

        &:hover {
            background: var(--scdclr1);
            color: var(--scdclr4);
        }
    }
}