.contact-page .page-contents {
    gap: 1em;

    h3 {
        font-size: 1.75em;
    }

    .intro-part {
        gap: 0.5em;
        padding-block-end: 2em;
    }

    form {
        gap: 1em;
        max-width: 700px;

        .form-inputs {
            gap: 0.75em;
            grid-template-columns: 1fr 1fr;

            .input-area {
                gap: 0.25em;

                label {
                    grid-template-columns: auto auto 1fr;
                    padding: 0 0.5em;
                    column-gap: 0.5em;

                    .svg-cmp {
                        width: 32px;
                        fill: var(--prmclr2);
                    }

                    p {
                        justify-self: end;
                        color: var(--mnrclr3);
                    }
                }

                textarea {
                    min-height: 180px;
                }

                input,
                select,
                textarea {
                    padding: 0.25em 0.5em;
                    border: 2px solid transparent;
                    border-radius: 0.5em;
                    font-size: 1em;

                    &:focus {
                        border-color: var(--mnrclr2);
                    }
                }

                &.error input,
                &.error select,
                &.error textarea {
                    border-color: var(--mnrclr3);
                }
            }
        }

        .form-actions {
            padding: 0 0.5em;

            button {
                padding: 0.5em 0.75em;
                gap: 0.25em;
                background-color: var(--prmclr1);
                color: var(--scdclr3);
                border-radius: 0.5em;
                font-size: 1.25em;

                .image-container img {
                    width: 42px;
                    height: 30px;
                }

                &:hover {
                    background-color: var(--mnrclr1);
                    color: var(--scdclr4);
                }
            }

            .recaptcha-branding {
                grid-template-columns: auto auto;
                grid-template-rows: auto auto;
                gap: 0.25em 0.75em;

                .image-container {
                    max-width: 36px;
                }

                span {
                    max-width: 80px;
                    font-size: 0.9em;
                }

                .links {
                    grid-column: 1/-1;
                    font-size: 0.75em;
                }
            }
        }
    }
}