.index-page .page-contents {
    .games-showcase {
        margin: 0 auto;

        h2 {
            margin-block-end: 1em;
        }

        .filter-area {
            padding-bottom: 1em;
        }
    }
}