.game-page .page-contents {
    .game-frame {

        iframe {
            max-width: 1050px;
            height: 650px;
            border: none;
            overflow: hidden;
            touch-action: none;
            margin: 0 auto;
        }
    }
}