.home-page {
    background: var(--scdclr9);

    .page-contents {
        position: relative;

        h2 {
            letter-spacing: 2px;
        }

        .video-container video {
            max-width: 100%;
            max-height: 100%;
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 0;
            margin: auto;
        }

        .intro-part,
        .game-content {
            height: 100vh;
            background: #000000cf;
            z-index: 1;
        }

        .intro-part {
            gap: 1em;

            .image-container {
                width: fit-content;
                margin: 0 auto;

                img {
                    border-radius: 0.5em;
                }
            }

            .noffty-links a {
                position: relative;

                .svg-cmp {
                    max-width: 120px;
                    max-height: 120px;
                    fill: var(--scdclr6);

                    &:first-child {
                        stroke: var(--scdclr6);
                        stroke-width: 0.25px;
                    }

                    &:last-child {
                        position: absolute;
                        padding: 0.25em;
                        transform: scale(0.4);
                        top: 0;
                    }
                }

                &:hover .svg-cmp {
                    fill: var(--prmclr2);

                    &:first-child {
                        stroke: var(--prmclr2);
                    }
                }
            }
        }

        .game-content {
            grid-template-columns: 1fr;

            .content-info {
                max-width: 900px;

                a {
                    gap: 0.5em;
                    padding: 0.5em 1em;
                    background: var(--prmclr1);
                    border-radius: 0.5em;
                    margin: 1em auto;

                    .svg-cmp {
                        max-width: 32px;
                        fill: var(--prmclr2);
                    }

                    &:hover {
                        background: var(--prmclr3);
                    }
                }
            }
        }
    }
}