.home-page .page-contents {
    .intro-part {
        gap: 1em;
        padding-block-end: 1em;
        border-bottom: 1px solid var(--scdclr7);
        margin: 0 auto;

        h2 {
            letter-spacing: 1px;
        }

        .image-container img {
            margin: 0 auto;
        }

        .noffty-links a {
            position: relative;

            .svg-cmp {
                max-width: 120px;
                max-height: 120px;
                fill: var(--scdclr6);

                &:first-child {
                    stroke: var(--scdclr6);
                    stroke-width: 0.25px;
                }

                &:last-child {
                    position: absolute;
                    padding: 0.25em;
                    transform: scale(0.4);
                    top: 0;
                }
            }

            &:hover {
                .svg-cmp {
                    fill: var(--prmclr2);

                    &:first-child {
                        stroke: var(--prmclr2);
                    }
                }
            }
        }
    }
}