.home-page .page-contents {
    .intro-part {
        gap: 1em;
        padding-block-end: 1em;
        border-bottom: 1px solid var(--scdclr7);
        margin: 0 auto;

        h2 {
            letter-spacing: 1px;
        }

        .image-container img {
            margin: 0 auto;
        }

        .noffty-links a {
            position: relative;

            .svg-cmp {
                max-width: 120px;
                max-height: 120px;
                fill: var(--scdclr6);

                &:first-child {
                    stroke: var(--scdclr6);
                    stroke-width: 0.25px;
                }

                &:last-child {
                    position: absolute;
                    padding: 0.25em;
                    transform: scale(0.4);
                    top: 0;
                }
            }

            &:hover {
                .svg-cmp {
                    fill: var(--prmclr2);

                    &:first-child {
                        stroke: var(--prmclr2);
                    }
                }
            }
        }
    }

    .games-showcase {
        padding: 1em 0;
        max-width: 1200px;
        border-bottom: 1px solid var(--scdclr7);
        margin: 0 auto;

        .action-btn {
            padding: 1em 1.5em;
            background: var(--scdclr2);
            color: var(--scdclr3);
            letter-spacing: 0.75px;
            border-radius: 0.5em;
            margin: 1em auto;

            &:hover {
                background: var(--scdclr1);
                color: var(--scdclr4);
            }
        }
    }

    .about {
        gap: 1em;
        padding: 1em 0;
        max-width: 1200px;
        margin: 0 auto;

        .crew {
            gap: 2em;
            grid-template-columns: repeat(3, 1fr);

            a {
                max-width: 192px;
                color: var(--scdclr6);
                margin: 0 auto;

                .image-container img {
                    min-width: 60px;
                    border-radius: 50%;
                    background: none;
                }

                h3 {
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                    letter-spacing: 0.5px;
                }
            }
        }
    }
}