.modal-wrapper .image-modal {
    position: relative;
    max-width: 95vw;
    max-height: 90vh;
    background: var(--scdclr3);
    border: 2px solid var(--scdclr5);
    border-radius: 0.5em;

    .image-container img {
        max-width: 95vw;
        max-height: 90vh;
        border-radius: 0.5em;
    }

    button {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
        z-index: 1;
        background: var(--scdclr3);
        border-radius: 0.5em;

        .svg-cmp {
            width: 32px;
        }
    }
}