/* home page mq */
.home-page .page-contents {
    @media(max-width: 600px) {
        padding: 2em 1em;

        .intro-part {
            img {
                max-width: 192px;
            }

            .noffty-links {
                gap: 1em;

                a .svg-cmp {
                    width: 4em;
                    height: 4em;
                }
            }
        }

        .games-showcase .game-list {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @media(min-width: 601px) {
        padding: 3em 2em;

        .intro-part {
            img {
                max-width: 256px;
            }

            .noffty-links {
                gap: 1.5em;

                a .svg-cmp {
                    width: 5em;
                    height: 5em;
                }
            }
        }

        .games-showcase .game-list,
        .about .crew {
            a img {
                padding: 1em;
            }
        }

        .games-showcase .game-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media(min-width: 901px) {
        .games-showcase .game-list {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

/* game index page mq */
.index-page .page-contents {
    @media(max-width: 600px) {
        padding: 2em 1em;

        .games-showcase .game-list {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @media(min-width: 601px) {
        padding: 3em 2em;

        .games-showcase .game-list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media(min-width: 901px) {
        .games-showcase .game-list {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

/* game details page mq */
.game-page .page-contents {
    @media(max-width: 600px) {
        padding: 2em 1em;
    }

    @media(max-width: 700px) {
        .game-body {
            .video-wrapper {
                grid-template-columns: 1fr;
            }
        }
    }

    @media(min-width: 601px) {
        padding: 3em 2em;
    }

    @media(min-width: 701px) {
        .game-body {
            .video-wrapper {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}