/* home page mq */
.home-page .page-contents {
    @media(max-width: 600px) {
        .intro-part {
            padding: 1em 1em;

            .noffty-links {
                gap: 1em;

                a .svg-cmp {
                    width: 4em;
                    height: 4em;
                }
            }
        }

        .game-content {
            padding: 2em 1em;

            .games-carousel .carousel-container a .preview-body {
                .icon {
                    right: 6.25em;
                    font-size: 14px;
                }

                .gmtk {
                    left: 6.25em;
                    font-size: 14px;
                }
            }
        }
    }

    @media(max-width: 1200px) {
        .game-content {
            grid-template-columns: 1fr;

            .games-carousel {
                grid-row: 1;
                max-width: 900px;
                justify-self: center;
            }
        }
    }

    @media(min-width: 601px) {
        .intro-part {
            padding: 3em 2em;

            .noffty-links {
                gap: 1.5em;

                a .svg-cmp {
                    width: 5em;
                    height: 5em;
                }
            }
        }

        .game-content {
            padding: 3em 2em;

            .games-carousel .carousel-container a .preview-body {
                .icon {
                    right: 5.5em;
                    font-size: 16px;
                }

                .gmtk {
                    left: 5.5em;
                    font-size: 16px;
                }
            }
        }
    }

    @media(min-width: 1201px) {
        .game-content {
            grid-template-columns: 1fr 1fr;

            .games-carousel,
            .content-info {
                grid-row: 1;
            }

            .content-info {
                padding: 1em 2em;
            }
        }
    }
}

/* about page mq */
.about-page .page-contents {
    @media(max-width: 500px) {
        .credits .crew-list {
            grid-template-columns: repeat(2, 1fr);
        }

        .member-info .social-links-area .social-links {
            grid-template-columns: repeat(2, 1fr) !important;

            a:last-child:nth-child(odd) {
                grid-column: 1 / -1;
            }

            a:nth-child(3n+1):last-child {
                grid-column: span 1 !important;
            }
        }
    }

    @media(max-width: 600px) {
        padding: 2em 1em;
    }

    @media(max-width: 900px) {
        grid-template-columns: 1fr;

        .intro-part,
        .credits {
            border-bottom: 1px solid var(--scdclr6);
        }

        .member-info .social-links-area .social-links {
            grid-template-columns: repeat(3, 1fr);

            &:has(a:nth-child(3n-1):last-child) {
                grid-template-columns: repeat(2, 1fr);
            }

            a:nth-child(3n+1):last-child {
                grid-column: 1 / -1;
            }
        }
    }

    @media(min-width: 501px) {
        .credits .crew-list {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media(min-width: 601px) {
        padding: 2em 2em;
    }

    @media(min-width: 901px) {
        grid-template-columns: 1fr 1fr;

        .intro-part {
            grid-column: 1 / -1;
            grid-row: 1;
            border-bottom: 1px solid var(--scdclr6);
        }

        .credits,
        .member-info {
            grid-row: 2;
            align-self: start;
        }

        .credits {
            grid-column: 1;
        }

        .member-info {
            grid-column: 2;

            .social-links-area .social-links {
                grid-template-columns: 1fr 1fr;

                a:last-child:nth-child(odd) {
                    grid-column: 1 / -1;
                }
            }
        }
    }

    @media(min-width: 1201px) {
        .member-info .social-links-area .social-links {
            grid-template-columns: repeat(4, 1fr);

            &:has(a:nth-child(3n-1):last-child) {
                grid-template-columns: repeat(2, 1fr);
            }

            &:has(a:nth-child(4n-1):last-child) {
                grid-template-columns: repeat(3, 1fr);
            }

            a:last-child:nth-child(odd) {
                grid-column: span 1;
            }
        }
    }
}

/* contact page mq */
.contact-page .page-contents {
    @media(max-width: 600px) {
        padding: 2em 1em;

        .input-area {
            grid-column: 1 / -1;
        }

        select {
            height: 37.6px;
        }
    }

    @media(min-width: 601px) {
        padding: 2em 2em;

        .input-area:nth-child(5) {
            grid-column: 1 / -1;
        }
    }
}

/* game index & admin page page mq */
.index-page .page-contents,
.admin-page .page-contents {
    @media(max-width: 600px) {
        padding: 2em 1em;
    }

    @media(min-width: 601px) {
        padding: 2em 2em;
    }
}

/* game editing page mq */
.edit-page .page-contents {
    @media(max-width: 600px) {
        padding: 2em 1em;

        a {
            left: 1em;
        }

        form {
            .form-inputs {
                grid-template-columns: 1fr;

                .input-area:nth-child(7):not(.special-layout .input-area) {
                    grid-column: span 1;

                    .upload-area {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }

                .special-layout:nth-of-type(2) {
                    grid-template-columns: 1fr 1fr;
                    grid-template-rows: auto auto;
                    grid-template-areas:
                        "a b"
                        "a c";

                    .input-area {
                        &:nth-child(1) {
                            grid-area: a;
                        }

                        &:nth-child(2) {
                            grid-area: b;
                        }

                        &:nth-child(3) {
                            grid-area: c;
                        }
                    }
                }
            }

            .edit-preview .game-body .video-wrapper {
                grid-template-columns: 1fr;
            }
        }
    }

    @media(max-width: 1300px) {
        form {
            grid-template-columns: 1fr;

            .form-inputs {
                grid-row: 1;
                padding-block-end: 1em;
            }

            .edit-preview {
                grid-row: 2;
                padding-block-start: 1em;
                border-top: 2px solid var(--prmclr2);

                .game-body .screenshots {
                    max-width: 90vw;
                }
            }
        }
    }

    @media(min-width: 601px) {
        padding: 2em 2em;

        a {
            left: 2em;
        }

        form {
            .form-inputs {
                grid-template-columns: repeat(3, 1fr);

                .special-layout:first-of-type {
                    grid-column: span 3;
                    grid-template-columns: repeat(3, 1fr);
                    grid-template-rows: repeat(3, auto);
                    grid-template-areas:
                        "a1 a2 a7"
                        "a3 a4 a7"
                        "a5 a6 a7";

                    .input-area {
                        &:nth-child(1) {
                            grid-area: a1;
                        }

                        &:nth-child(2) {
                            grid-area: a2;
                        }

                        &:nth-child(3) {
                            grid-area: a3;
                        }

                        &:nth-child(4) {
                            grid-area: a4;
                        }

                        &:nth-child(5) {
                            grid-area: a5;
                        }

                        &:nth-child(6) {
                            grid-area: a6;
                        }

                        &:nth-child(7) {
                            grid-area: a7;
                            align-self: start;
                        }
                    }
                }

                .special-layout:nth-of-type(2) {
                    grid-column: span 2;
                    grid-template-columns: 1fr 1fr;
                    grid-template-areas:
                        "b1 b2"
                        "b1 b3";

                    .input-area {
                        &:nth-child(1) {
                            grid-area: b1;
                        }

                        &:nth-child(2) {
                            grid-area: b2;
                        }

                        &:nth-child(3) {
                            grid-area: b3;
                        }
                    }
                }

                .input-area:nth-child(7):not(.special-layout .input-area) {
                    grid-column: span 3;

                    .upload-area {
                        grid-template-columns: repeat(3, 1fr);
                    }
                }
            }

            .edit-preview .game-body .video-wrapper {
                grid-template-columns: 1fr 1fr;
            }
        }
    }

    @media(min-width: 1301px) {
        form {
            grid-template-columns: 1fr 1fr;

            .edit-preview {
                padding-inline-end: 1em;
                border-right: 2px solid var(--prmclr2);

                .game-body .screenshots {
                    max-width: 45vw;
                }
            }
        }
    }
}

/* game details page mq */
.game-page .page-contents {
    @media(max-width: 600px) {
        padding: 2em 1em;

        p {
            font-size: 1.25em;
        }
    }

    @media(max-width: 700px) {
        .game-body .video-wrapper {
            grid-template-columns: 1fr;
        }
    }

    @media(min-width: 601px) {
        padding: 2em 2em;

        p {
            font-size: 1.5em;
        }
    }

    @media(min-width: 701px) {
        .game-body .video-wrapper {
            grid-template-columns: 1fr 1fr;
        }
    }
}

/* game list cmp mq */
.index-page .page-contents .game-list,
.admin-page .page-contents .game-list {
    @media(max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
    }

    @media(min-width: 481px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media(min-width: 901px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media(min-width: 1201px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* privacy policy page mq */
.privacy-policy-page .page-contents {
    @media(max-width: 600px) {
        padding: 2em 1em;
    }

    @media(min-width: 601px) {
        padding: 3em 2em;
    }
}

/* not found page mq */
.error-page .page-contents {
    @media(max-width: 600px) {
        padding: 2em 1em;
    }

    @media(min-width: 601px) {
        padding: 2em 2em;
    }
}

/* login modal mq */
.modal-wrapper .login-form {
    @media(max-width:400px) {
        max-width: 95%;
    }

    @media(min-width: 401px) {
        max-width: 400px;
    }
}

/* header mq */
header .header-contents {
    @media(max-width: 600px) {
        padding: 1em 1em;

        .mobile-view {
            font-size: 1.25em;
        }
    }

    @media(min-width: 601px) {
        padding: 1em 2em;

        .desktop-view {
            font-size: 1.75em;
        }
    }
}

/* footer mq */
footer .footer-contents {
    @media(max-width: 600px) {
        padding: 1em 1em;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-gap: 1em;

        h2 {
            margin: 0 auto;
        }

        .links {
            grid-template-columns: repeat(4, 1fr);

            h2 {
                grid-column: 1/-1;
            }

            a {
                justify-self: center;
            }
        }
    }

    @media(min-width: 601px) {
        padding: 1em 2em;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto auto;
        grid-gap: 1em;

        .links {
            grid-row: 1 / -1;
            grid-template-columns: 1fr 1fr;

            h2 {
                grid-column: 1/-1;
            }
        }

        .outside-links {
            grid-column: 2 / -1;
            grid-row: 1;
            justify-self: end;

            h2 {
                margin: 0 auto;
            }

            .noffty-links {
                gap: 2em;
            }
        }

        .copyright {
            grid-column: 2 / -1;
            grid-row: 2;
        }
    }
}