.select-option {
    position: relative;

    label {
        margin-bottom: 0.25em;
    }

    .svg-cmp {
        width: 24px;
        height: 24px;
        fill: var(--scdclr3);
    }

    .custom-select-container {
        position: absolute;
        top: 100%;
        z-index: 5;
        border-radius: 0.5em;
        background: var(--prmclr1);
        color: var(--scdclr3);
        cursor: pointer;

        .selected-value {
            border-radius: 0.5em;

            &.open {
                border-bottom: 1px solid var(--scdclr3);
                border-radius: 0.5em 0.5em 0 0;

                .svg-cmp {
                    transform: rotate(90deg);
                }
            }
        }

        .options-container .option,
        .selected-value {
            padding: 0.5em 0.5em;

            &:hover {
                background: var(--prmclr2);
                color: var(--prmclr1);

                .svg-cmp {
                    fill: var(--prmclr1);
                }
            }
        }

        .options-container .option {
            &:not(:last-child) {
                border-bottom: 1px solid var(--scdclr3);
            }

            &:last-child:hover {
                border-radius: 0 0 0.5em 0.5em;
            }
        }
    }
}