footer {
    background: var(--prmclr4);
    border-top: 1px solid var(--scdclr6);

    .footer-contents {
        max-width: 1264px;

        .links {
            gap: 1em;

            a {
                color: var(--scdclr6);
                font-size: 18px;

                &:hover,
                &.active {
                    color: var(--scdclr4);
                }

                &.active {
                    cursor: default;
                    pointer-events: none;
                }
            }
        }

        .outside-links {
            gap: 1em;

            .noffty-links a {
                position: relative;

                .svg-cmp {
                    max-width: 90px;
                    max-height: 90px;
                    fill: var(--scdclr6);

                    &:first-child {
                        stroke: var(--scdclr6);
                        stroke-width: 0.25px;
                    }

                    &:last-child {
                        position: absolute;
                        padding: 0.25em;
                        transform: scale(0.4);
                        top: 0;
                    }
                }

                &:hover {
                    .svg-cmp {
                        fill: var(--prmclr2);

                        &:first-child {
                            stroke: var(--prmclr2);
                        }
                    }
                }
            }
        }

        .copyright {
            align-self: end;
            justify-self: end;
            color: var(--scdclr6);
        }
    }
}