/* home page area */
.home-page .page-contents {
    .games-showcase {
        .games a {
            color: var(--scdclr6);

            img {
                padding: 1em;
            }

            div h3,
            div p {
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                letter-spacing: 0.5px;
            }
        }
    }
}