.home-page .page-contents,
.index-page .page-contents {
    .games-showcase .game-list {
        gap: 3em;
        max-width: 1300px;
        margin: 1em 0;

        .error-container {
            grid-column: 1/-1;
        }
    }
}